<div class="w-full overflow-auto max-h-[500px] border border-slate-200 rounded-lg shadow-sm">
  <table class="w-full min-w-max border-collapse text-sm md:text-[0.95rem] text-left text-slate-700 
                [&_thead]:sticky [&_thead]:top-0 [&_thead]:z-20
                [&_tbody_tr]:transition-colors [&_tbody_tr]:duration-200
                [&_tbody_tr]:hover:bg-slate-50/80
                [&_tbody_tr:hover_.sticky-col]:bg-slate-50/80  mb-[100px] ">
                
    <ng-content></ng-content>
    
  </table>
</div>